/* CONTENTS */
/*
 
    1. Global Utility Styles
    



*/

/* GLOBAL UTILITY STYLES */

@font-face {
    font-family: 'Bombardier';
    src: url('fonts/Bombardier.ttf.woff') format('woff'),
        url('fonts/Bombardier.ttf.svg#Bombardier') format('svg'),
        url('fonts/Bombardier.ttf.eot'),
        url('fonts/Bombardier.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Krunch';
    src: url('fonts/krunch_italic.ttf');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(107, 107, 107, 1);
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(107, 107, 107, 1);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(107, 107, 107, 1);
}

::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #000000;
}

::-webkit-scrollbar-track:active {
    background: #000000;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

html {
    font-size: 16px;
}

body {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Lato', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}



a {
    color: rgba(255, 255, 255, 1);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.bg {
    animation: slide 8s ease-in-out infinite alternate;
    background-image: linear-gradient(-75deg, #fde74d 50%, rgba(0, 0, 0, 1) 30%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 9s;
}

/*
.bg3 {
    animation-duration: 10s;
}
*/

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 1.2fr;
    grid-template-areas: "navbar""intro""selectSport";
    height: 100vh;
}

.navbar {
    grid-area: navbar;
    padding: 0px 20px 0px 20px;
}

.intro {
    grid-area: intro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.briefDesc {
    font-size: 1.5rem;
}


.selectSport {
    grid-area: selectSport;
}

.selectSport-label {
    color: rgba(255, 231, 77, 1);
    font-size: 1.2rem;
    margin: 50px 0 50px 0;
    text-align: center;
}

.sportIcon-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sportIcon {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
}

.sportIcon-text {
    font-family: 'Bombardier', sans-serif;
    font-style: italic;
    font-size: 1.2rem;
}

.sportIcon:hover {
    color: rgba(255, 231, 77, 1);
}

/*
div#sportIcon-tennis {
    background: url('assets/tennis.svg');
}

div#sportIcon-tennis:hover {
    background: url('assets/tennis_hover.svg');
}
*/

.explore-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.2fr 0.3fr 1.5fr;
    grid-template-areas: "navbar navbar""teamFilter yearSlider""teamFilter mapSection";
    grid-gap: 15px;
    height: 100vh;
}

.menuLink {
    padding: 0 20px 0 20px;
}

.teamFilter {
    grid-area: teamFilter;
    overflow-y: auto;
}

.yearSlider {
    grid-area: yearSlider;
}

.mapSection {
    grid-area: mapSection;
    height: 100%;
}

.mainLogo {
    width: 180px;
    margin: 10px;
}

label {
    margin-bottom: 0 !important;
}

/* CHECKBOX STYLES */
input[type=checkbox] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0
}

input[type=checkbox]:after {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
    font-size: 12px;
    content: "\f067";
    color: rgba(107, 107, 107, 1);
}

input[type=checkbox]:checked:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    color: rgba(255, 237, 77, 1);
}

.checkDiv {
    display: inline-flex;
    margin: 10px;
}

/*
input[type=checkbox]:checked #checkBtn {
    background: rgba(165, 165, 165, 1);
}
*/

/*
label { 
  -webkit-appearance: push-button;
  -moz-appearance: button; 
  display: inline-block;
  margin: 60px 0 10px 0;
  cursor: pointer;
}
*/

/* Default State */
.checkBtn {
    flex: 0 0 auto;
    background-color: rgba(0, 0, 0, 1);
    border: 3px solid rgba(107, 107, 107, 1);
    border-radius: 6px;
    color: rgba(107, 107, 107, 1);
    font-size: 12px;
}

/* Toggled State */
input[type=checkbox]:checked ~ .checkDiv {
    background-color: rgba(165, 165, 165, 1);
    border: 3px solid rgba(165, 165, 165, 1);
    border-radius: 6px;
    color: rgba(0, 0, 0, 1);
}

/*
input[type=checkbox]:checked #checkBtn {
    background-color: rgba(165, 165, 165, 1);
}

#checkBtn label input:checked + #checkBtn {
    background-color: rgba(165, 165, 165, 1);
    color: rgba(0, 0, 0, 1);
}
*/

.checkBtn label {
    justify-content: space-between;
    align-items: center;
    padding: 9px 5.5px 9px 5.5px;
}

.checkBtn label span {
    margin-right: 20px;
    font-weight: 800;
}

.checkBtn label input {
    text-align: center;
    min-width: 16px;
}

/* TIME SLIDER STYLES */
input[type=range] {
    -webkit-appearance: none;
    width: 98%;
    margin: 15px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #6b6b6b;
    border-radius: 1px;
    border: 0px solid rgba(0, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 36px;
    width: 16px;
    border-radius: 5px;
    background: #fde74d;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -15px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #6e6e6e;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #6b6b6b;
    border-radius: 1px;
    border: 0px solid rgba(0, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 36px;
    width: 16px;
    border-radius: 5px;
    background: #fde74d;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #686868;
    border: 0px solid rgba(0, 1, 1, 0);
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
    background: #6b6b6b;
    border: 0px solid rgba(0, 1, 1, 0);
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 36px;
    width: 16px;
    border-radius: 5px;
    background: #fde74d;
    cursor: pointer;
    height: 6px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #6b6b6b;
}

input[type=range]:focus::-ms-fill-upper {
    background: #6e6e6e;
}

#slider {
    margin: 0px 15px 15px 15px;
}

.yearList {
    font-size: .8rem;
}

#map {
    height: 100%;
    width: 100%;
}

.teamFilter-section {
    padding-bottom: 30px;
}

.filterSection-label {
    color: rgba(255, 231, 77, 1);
    padding: 0px 10px 0px 10px;
}

.playerName {
    margin-bottom: 10px;
    font-family: 'Bombardier', sans-serif;
    white-space: nowrap;
}

.teamPosition-combo {
    display: flex;
    justify-content: space-between;
}

.lastName,
.firstName,
.uniformNumber {
    font-family: 'Bombardier', sans-serif;
    font-style: italic;
}

.lastName {
    font-size: 1.8rem;
    font-weight: 800;
    color: rgba(143, 154, 174, 1);
}

.firstName {
    font-size: 1.5rem;
    font-weight: 400;
}

.playerPosition {
    color: rgba(143, 154, 174, 1);
    margin-bottom: 20px;
}

.uniformNumber,
.teamName,
.playerPosition,
.playerHeight,
.playerWeight,
.lastSchool {
    font-family: 'Bombardier', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
