/* CONTENTS */
/*
 
    1. Global Utility Styles
    2. Home Page Styles
    3. About Page Styles
    4. Explore Page Styles
    



*/

/* 1. GLOBAL UTILITY STYLES */

@font-face {
    font-family: 'Bombardier';
    src: url('fonts/Bombardier.ttf.woff') format('woff'),
        url('fonts/Bombardier.ttf.svg#Bombardier') format('svg'),
        url('fonts/Bombardier.ttf.eot'),
        url('fonts/Bombardier.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Krunch';
    src: url('fonts/krunch_italic.ttf');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(107, 107, 107, 1);
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(107, 107, 107, 1);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(107, 107, 107, 1);
}

::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #000000;
}

::-webkit-scrollbar-track:active {
    background: #000000;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

html {
    font-size: 16px;
}

body {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Lato', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

body.home {
    overflow: hidden;
}

a {
    color: rgba(255, 255, 255, 1);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.bg {
    animation: slide 8s ease-in-out infinite alternate;
    background-image: linear-gradient(-75deg, rgba(255, 230, 77, .6) 50%, rgba(0, 0, 0, 1) 30%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 9s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

/**** 2. HOME PAGE *****/
.home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 1.2fr;
    grid-template-areas: "navbar""intro""selectSport";
    height: 100vh;
}

.navbar {
    grid-area: navbar;
    padding: 0px 20px 0px 20px;
}

.intro {
    grid-area: intro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.briefDesc {
    font-size: 1.5rem;
}


.selectSport {
    grid-area: selectSport;
}

.selectSport-label {
    color: rgba(255, 231, 77, 1);
    font-size: 1.5rem;
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}


.sportIcon-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sportIcon-section {
    margin-bottom: 100px;
}

.sportIcon {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
}
.comingSoon-label {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    margin: 50px;
}
.sportIcon-coming {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sportIcon-text {
    font-family: 'Bombardier', sans-serif;
    font-style: italic;
    font-size: 1.2rem;
}

.sportIcon:hover {
    color: rgba(255, 231, 77, 1);
}


/**** 3. ABOUT PAGE *****/
.about-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.4fr;
    grid-template-areas: "aboutNavbar""aboutSection";
    grid-gap: 15px;
}

.aboutNavbar {
    grid-area: aboutNavbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutSection {
    grid-area: aboutSection;
    overflow-y: auto;
}

.aboutHeader {
    text-align: center;
    font-family: 'Bombardier', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 60px;
}

.aboutWrapper {
    max-width: 800px;
    margin: 0 auto;
}

.aboutMain {
    display: flex;
    flex-direction: column;
}

.aboutLeft {
    text-align: left;
    align-items: flex-start;
}

.aboutLeft p {
    padding: 5px 0 15px 24px;
}

.aboutRight p {
    padding: 5px 24px 15px 0;
}

.aboutRight {
    text-align: right;
    align-items: flex-end;
}

.aboutCenter {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.aboutSectionTitle {
    display: inline-flex;
    background: rgba(255, 231, 77);
    color: rgba(0, 0, 0, 1);
    padding: 3px 25px 0 25px;
    font-size: 2rem;
    font-family: 'Bombardier', sans-serif;
    transform: skewX(-12deg);
}

.aboutSectionTitle span {
    transform: skewX(12deg);
}

.aboutSection p {
    font-size: 1.5rem;
    font-family: 'Lato';
}

.left p {
    padding: 15px 0 8px;
}

.aboutCenter > .aboutSectionTitle {
    margin: 30px 0 30px 0;
}

.aboutCenter .processSection-left,
.aboutCenter .processSection-right {
    margin-top: 25px;
    margin-bottom: 25px;
}

.aboutCenter .processSection-left {
    text-align: left;
    align-self: flex-start;
    font-size: 1.5rem;
    margin-left: 80px;
}

.aboutCenter .processSection-left > span {
    margin-left: 25px;
    font-weight: bold;
}

.aboutCenter .processSection-right > span {
    margin-right: 25px;
    font-weight: bold;
}

.aboutCenter .processSection-right {
    text-align: right;
    align-self: flex-end;
    font-size: 1.5rem;
    margin-right: 80px;
}


/**** 4. EXPLORE PAGE *****/
.explore-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.2fr 0.3fr 1.5fr;
    grid-template-areas: "navbar navbar""teamFilter yearSlider""teamFilter mapSection";
    grid-gap: 15px;
    height: 100vh;
}

.menuLink {
    padding: 0 20px 0 20px;
}

.teamFilter {
    grid-area: teamFilter;
    overflow-y: auto;
}

.yearSlider {
    grid-area: yearSlider;
}

.mapSection {
    grid-area: mapSection;
    height: 100%;
}

.mainLogo {
    width: 180px;
    margin: 10px;
}

label {
    margin-bottom: 0 !important;
}

/* CHECKBOX STYLES */

.checkDiv {
    display: inline-flex;
    margin: 10px;
}

/* Default State */
.checkBtn {
    flex: 0 0 auto;
    /*    background-color: rgba(0, 0, 0, 1);*/
    border: 3px solid rgba(107, 107, 107, 1);
    border-radius: 6px;
    color: rgba(107, 107, 107, 1);
    font-size: 12px;
}

.checkBtn label {
    justify-content: space-between;
    align-items: center;
    padding: 9px 5.5px 9px 5.5px;
}

.checkBtn label span {
    margin-right: 20px;
    font-weight: 800;
}

.checkBtn label input {
    text-align: center;
    min-width: 16px;
}

input[type=checkbox] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0
}

input[type=checkbox]:after {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
    font-size: 12px;
    content: "\f067";
    color: rgba(107, 107, 107, 1);
}

input[type=checkbox]:checked:after {
    font-family: "Font Awesome 5 Free";
    content: "\f068";
    color: rgba(0, 0, 0, 1);
}

/* TIME SLIDER STYLES */
input[type=range] {
    -webkit-appearance: none;
    width: 98%;
    margin: 15px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #6b6b6b;
    border-radius: 1px;
    border: 0px solid rgba(0, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 36px;
    width: 16px;
    border-radius: 5px;
    background: #fde74d;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -15px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #6e6e6e;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #6b6b6b;
    border-radius: 1px;
    border: 0px solid rgba(0, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 36px;
    width: 16px;
    border-radius: 5px;
    background: #fde74d;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #686868;
    border: 0px solid rgba(0, 1, 1, 0);
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
    background: #6b6b6b;
    border: 0px solid rgba(0, 1, 1, 0);
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 36px;
    width: 16px;
    border-radius: 5px;
    background: #fde74d;
    cursor: pointer;
    height: 6px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #6b6b6b;
}

input[type=range]:focus::-ms-fill-upper {
    background: #6e6e6e;
}

#slider {
    margin: 0px 15px 15px 15px;
}

.yearList {
    font-size: .8rem;
}

#map {
    height: 100%;
    width: 100%;
}

.teamFilter-section {
    padding-bottom: 30px;
}

.filterSection-label {
    color: rgba(255, 231, 77, 1);
    padding: 0px 10px 0px 10px;
}

.playerName {
    margin-bottom: 10px;
    font-family: 'Bombardier', sans-serif;
    white-space: nowrap;
}

.teamPosition-combo {
    display: flex;
    justify-content: space-between;
}

.lastName,
.firstName,
.uniformNumber {
    font-family: 'Bombardier', sans-serif;
    font-style: italic;
}

.lastName {
    font-size: 1.8rem;
    font-weight: 800;
    color: rgba(143, 154, 174, 1);
}

.firstName {
    font-size: 1.5rem;
    font-weight: 400;
}

.uniformNumber-box {
    background: rgba(255, 231, 77, 1);
    display: inline-flex;
    transform: skewX(-20deg);
}

.uniformNumber {
    transform: skewX(20deg);
    padding: 2px 7px 0 5px;
}

.playerPosition {
    color: rgba(143, 154, 174, 1);
    margin-bottom: 20px;
}

.uniformNumber,
.teamName,
.playerPosition,
.playerHeight,
.playerWeight,
.lastSchool {
    font-family: 'Bombardier', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
